force-app/main/default/flows/Churn_Risk_Alert_Handler.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <decisions>
        <name>Account_Found</name>
        <label>Account Found?</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Outreach_Task</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <description>Engagement playbook for churn-risk escalations. Subscribes to Churn_Risk_Alert__e so the scoring engine stays ignorant of what actions exist; admins tune the outreach (subject, due date, future steps) here without a deployment.</description>
    <environments>Default</environments>
    <formulas>
        <name>TaskDueDate</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 2</expression>
    </formulas>
    <formulas>
        <name>TaskSubject</name>
        <dataType>String</dataType>
        <expression>"Churn risk escalated to " &amp; {!$Record.New_Risk__c} &amp; " - engage customer"</expression>
    </formulas>
    <interviewLabel>Churn Risk Alert Handler {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Churn Risk Alert Handler</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Outreach_Task</name>
        <label>Create Outreach Task</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>TaskDueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Account.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>TaskSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account_Id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
        <object>Churn_Risk_Alert__e</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Active</status>
</Flow>
