force-app/main/default/flows/Renewal_Closed_Won_Updates_Subscription.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <decisions>
        <name>Is_Linked_Renewal</name>
        <label>Is Linked Renewal?</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <defaultConnectorLabel>Not a linked renewal</defaultConnectorLabel>
        <rules>
            <name>Linked_Renewal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subscription__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Renewal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mark_Subscription_Renewed</targetReference>
            </connector>
            <label>Linked Renewal</label>
        </rules>
    </decisions>
    <description>When a Renewal opportunity closes won, the underlying subscription's lifecycle advances to Renewed. Declarative on purpose: a single cross-object field update with entry conditions, no fan-out, no queries beyond the keyed update. The Apex state machine still validates the transition.</description>
    <environments>Default</environments>
    <interviewLabel>Renewal Closed Won Updates Subscription {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Renewal Closed Won Updates Subscription</label>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Mark_Subscription_Renewed</name>
        <label>Mark Subscription Renewed</label>
        <locationX>50</locationX>
        <locationY>278</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Subscription__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Renewed</stringValue>
            </value>
        </inputAssignments>
        <object>Subscription__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Linked_Renewal</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
